USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 09/12/2022 12:40:13 SA ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS_Data', FILENAME = N'D:\Hoc Ki 5\CSDL\QLNS_Data.MDF' , SIZE = 3904KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'QLNS_Log', FILENAME = N'D:\Hoc Ki 5\CSDL\QLNS_Log.LDF' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[a]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[a](
	[Khoi] [nchar](10) NOT NULL,
 CONSTRAINT [PK_a] PRIMARY KEY CLUSTERED 
(
	[Khoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KTVSKL]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KTVSKL](
	[MaNV] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[MucKT] [int] NULL,
	[MucKL] [int] NULL,
	[LyDo] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblBangCongThuViec]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBangCongThuViec](
	[TenBoPhan] [nvarchar](10) NULL,
	[TenPhong] [nvarchar](50) NULL,
	[MaNVTV] [char](10) NOT NULL,
	[LuongTViec] [int] NULL,
	[Thang] [char](10) NULL,
	[Nam] [char](10) NULL,
	[SoNgayCong] [int] NULL,
	[SoNgayNghi] [int] NULL,
	[SoGioLamThem] [int] NULL,
	[Luong] [float] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblBangLuongCTy]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBangLuongCTy](
	[MaLuong] [char](10) NOT NULL,
	[LCB] [int] NULL,
	[PCChucVu] [int] NULL,
	[NgayNhap] [datetime] NULL,
	[LCBMoi] [int] NULL,
	[NgaySua] [datetime] NULL,
	[LyDo] [nvarchar](50) NULL,
	[PCCVuMoi] [int] NULL,
	[NgaySuaPC] [datetime] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TblBangLuongCTy] PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblBoPhan]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBoPhan](
	[MaBoPhan] [char](10) NOT NULL,
	[TenBoPhan] [nchar](10) NULL,
	[NgayThanhLap] [datetime] NULL,
	[GhiChu] [nchar](10) NULL,
 CONSTRAINT [PK_TblBoPhan] PRIMARY KEY CLUSTERED 
(
	[MaBoPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCongKhoiDieuHanh]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCongKhoiDieuHanh](
	[MaNV] [nvarchar](50) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[MaLuong] [char](10) NULL,
	[LCB] [int] NULL,
	[PCChucVu] [int] NULL,
	[PCapKhac] [int] NULL,
	[Thuong] [nvarchar](50) NULL,
	[KyLuat] [nvarchar](50) NULL,
	[Thang] [char](10) NULL,
	[Nam] [char](19) NULL,
	[SoNgayCongThang] [int] NULL,
	[SoNgayNghi] [int] NULL,
	[SoGioLamThem] [int] NULL,
	[Luong] [int] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCongKhoiVanChuyen]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCongKhoiVanChuyen](
	[MaNV] [nvarchar](50) NULL,
	[LCB] [int] NULL,
	[PhuCapCVu] [int] NULL,
	[PCapKhac] [int] NULL,
	[Thang] [char](10) NULL,
	[Nam] [char](19) NULL,
	[SoNgayCongThang] [int] NULL,
	[SoNgayNghi] [int] NULL,
	[SOGioLamThem] [int] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCongKhoiVanPHong]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCongKhoiVanPHong](
	[MaNV] [nvarchar](50) NOT NULL,
	[LCB] [int] NULL,
	[PhuCapCVu] [char](4) NULL,
	[PhuCapKhac] [int] NULL,
	[Thang] [char](10) NULL,
	[Nam] [char](19) NULL,
	[SoNgayCongThang] [int] NULL,
	[SoNgayNghi] [int] NULL,
	[SoGioLamThem] [int] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblHoSoThuViec]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblHoSoThuViec](
	[MaPhong] [char](10) NOT NULL,
	[MaNVTV] [char](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[TDHocVan] [nvarchar](50) NULL,
	[HocHam] [nvarchar](50) NULL,
	[ViTriThuViec] [nvarchar](50) NULL,
	[NgayTV] [datetime] NULL,
	[ThangTV] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblNVThoiViec]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblNVThoiViec](
	[HoTen] [nvarchar](50) NULL,
	[CMTND] [nvarchar](50) NOT NULL,
	[NgayThoiViec] [datetime] NULL,
	[LyDo] [nvarchar](50) NULL,
 CONSTRAINT [PK_TblNVThoiViec] PRIMARY KEY CLUSTERED 
(
	[CMTND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPhongBan]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPhongBan](
	[MaBoPhan] [char](10) NOT NULL,
	[MaPhong] [char](10) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[NgayThanhLap] [datetime] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TblPhongBan] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSoBH]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSoBH](
	[MaNV] [nvarchar](50) NOT NULL,
	[MaLuong] [char](10) NOT NULL,
	[MaSoBH] [char](10) NOT NULL,
	[NgayCapSo] [datetime] NULL,
	[NoiCapSo] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTangLuong]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTangLuong](
	[MaNV] [nvarchar](50) NULL,
	[HoTen] [nvarchar](30) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[MaLuongCu] [char](10) NULL,
	[MaLuongMoi] [char](10) NULL,
	[NgayTang] [datetime] NULL,
	[LyDo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTTCaNhan]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTTCaNhan](
	[MaNV] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NoiSinh] [nvarchar](50) NULL,
	[NguyenQuan] [nvarchar](50) NULL,
	[DCThuongChu] [nvarchar](100) NULL,
	[DCTamChu] [nvarchar](100) NULL,
	[SDT] [char](12) NULL,
	[DanToc] [nvarchar](30) NULL,
	[TonGiao] [nvarchar](20) NULL,
	[QuocTich] [nvarchar](20) NULL,
	[HocVan] [nvarchar](30) NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTTNVCoBan]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTTNVCoBan](
	[MaBoPhan] [char](10) NOT NULL,
	[MaPhong] [char](10) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[MaLuong] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[TTHonNhan] [nvarchar](50) NULL,
	[CMTND] [nvarchar](50) NULL,
	[NoiCap] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[LoaiHD] [nvarchar](50) NULL,
	[ThoiGian] [nvarchar](10) NULL,
	[NgayKy] [date] NULL,
	[NgayHetHan] [date] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_TblTTNVCoBan] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblThaiSan]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblThaiSan](
	[MaBoPhan] [char](10) NOT NULL,
	[MaPhong] [char](10) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[NgayVeSom] [datetime] NULL,
	[NgayNghiSinh] [datetime] NULL,
	[NgayLamTroLai] [datetime] NULL,
	[TroCapCTY] [int] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbuser]    Script Date: 09/12/2022 12:40:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbuser](
	[Username] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](50) NULL,
	[Quyen] [nchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[Ngaysinh] [date] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[a] ([Khoi]) VALUES (N'DieuHanh  ')
INSERT [dbo].[a] ([Khoi]) VALUES (N'SanXuat   ')
INSERT [dbo].[a] ([Khoi]) VALUES (N'VanPhong  ')
GO
INSERT [dbo].[TblBangCongThuViec] ([TenBoPhan], [TenPhong], [MaNVTV], [LuongTViec], [Thang], [Nam], [SoNgayCong], [SoNgayNghi], [SoGioLamThem], [Luong], [GhiChu]) VALUES (N'Kế Toán', N'Kế Toán 2', N'001', 3000000, N'5', N'2022', 23, 3, 8, 2973832, N'')
INSERT [dbo].[TblBangCongThuViec] ([TenBoPhan], [TenPhong], [MaNVTV], [LuongTViec], [Thang], [Nam], [SoNgayCong], [SoNgayNghi], [SoGioLamThem], [Luong], [GhiChu]) VALUES (N'Kỹ Thuật', N'Kỹ Thuật 2', N'003', 3000000, N'5', N'2022', 26, 0, 12, 3479984, N'')
INSERT [dbo].[TblBangCongThuViec] ([TenBoPhan], [TenPhong], [MaNVTV], [LuongTViec], [Thang], [Nam], [SoNgayCong], [SoNgayNghi], [SoGioLamThem], [Luong], [GhiChu]) VALUES (N'Kế Toán', N'Kế Toán 2', N'008', 3000000, N'5', N'2022', 26, 0, 10, 3399984, N'')
GO
INSERT [dbo].[TblBangLuongCTy] ([MaLuong], [LCB], [PCChucVu], [NgayNhap], [LCBMoi], [NgaySua], [LyDo], [PCCVuMoi], [NgaySuaPC], [GhiChu]) VALUES (N'ML01', 3000000, 500000, CAST(N'2019-05-13T00:00:00.000' AS DateTime), 3000000, CAST(N'2019-05-13T00:00:00.000' AS DateTime), N'ht', 5000000, CAST(N'2019-05-13T00:00:00.000' AS DateTime), N'ht')
INSERT [dbo].[TblBangLuongCTy] ([MaLuong], [LCB], [PCChucVu], [NgayNhap], [LCBMoi], [NgaySua], [LyDo], [PCCVuMoi], [NgaySuaPC], [GhiChu]) VALUES (N'ML02', 4000000, 600000, CAST(N'2019-05-29T00:00:00.000' AS DateTime), 4000000, CAST(N'2019-05-29T00:00:00.000' AS DateTime), N'sửa', 600000, CAST(N'2019-05-29T00:00:00.000' AS DateTime), N'ht')
INSERT [dbo].[TblBangLuongCTy] ([MaLuong], [LCB], [PCChucVu], [NgayNhap], [LCBMoi], [NgaySua], [LyDo], [PCCVuMoi], [NgaySuaPC], [GhiChu]) VALUES (N'ML03', 5000000, 700000, CAST(N'2019-05-29T00:00:00.000' AS DateTime), 5000000, CAST(N'2019-05-29T00:00:00.000' AS DateTime), N'', 7000000, CAST(N'2019-05-29T00:00:00.000' AS DateTime), N'')
GO
INSERT [dbo].[TblBoPhan] ([MaBoPhan], [TenBoPhan], [NgayThanhLap], [GhiChu]) VALUES (N'MB01      ', N'Kế toán   ', CAST(N'2019-12-05T00:00:00.000' AS DateTime), N'      d   ')
INSERT [dbo].[TblBoPhan] ([MaBoPhan], [TenBoPhan], [NgayThanhLap], [GhiChu]) VALUES (N'MB02      ', N'Kỹ thuật  ', CAST(N'2019-05-12T00:00:00.000' AS DateTime), N'          ')
INSERT [dbo].[TblBoPhan] ([MaBoPhan], [TenBoPhan], [NgayThanhLap], [GhiChu]) VALUES (N'MB03      ', N'Kế hoạch  ', CAST(N'2019-05-12T00:00:00.000' AS DateTime), N'          ')
GO
INSERT [dbo].[TblCongKhoiDieuHanh] ([MaNV], [TenPhong], [HoTen], [MaLuong], [LCB], [PCChucVu], [PCapKhac], [Thuong], [KyLuat], [Thang], [Nam], [SoNgayCongThang], [SoNgayNghi], [SoGioLamThem], [Luong], [GhiChu]) VALUES (N'001', N'Kế toán 1', N'Trần Minh Nhựt ', N'ML03', 5000000, 700000, 500000, N'200000', N'0', N'5', N'2019', 26, 0, 12, 5779996, N'admin')
INSERT [dbo].[TblCongKhoiDieuHanh] ([MaNV], [TenPhong], [HoTen], [MaLuong], [LCB], [PCChucVu], [PCapKhac], [Thuong], [KyLuat], [Thang], [Nam], [SoNgayCongThang], [SoNgayNghi], [SoGioLamThem], [Luong], [GhiChu]) VALUES (N'005', N'Kỹ thuật 1', N'Cao Thiên Phú', N'ML01', 3000000, 500000, 0, N'300000', N'0', N'5', N'2019', 24, 2, 15, 4169216, N'admin')
INSERT [dbo].[TblCongKhoiDieuHanh] ([MaNV], [TenPhong], [HoTen], [MaLuong], [LCB], [PCChucVu], [PCapKhac], [Thuong], [KyLuat], [Thang], [Nam], [SoNgayCongThang], [SoNgayNghi], [SoGioLamThem], [Luong], [GhiChu]) VALUES (N'007', N'Kỹ thuật 2', N'Phạm Nhựt Thắng', N'ML03', 5000000, 700000, 200000, N'0', N'200000', N'5', N'2019', 26, 0, 13, 6219982, N'admin')
GO
INSERT [dbo].[TblHoSoThuViec] ([MaPhong], [MaNVTV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [TDHocVan], [HocHam], [ViTriThuViec], [NgayTV], [ThangTV], [GhiChu]) VALUES (N'KT02', N'001', N'Lê Văn Đạt', CAST(N'1982-04-01T00:00:00.000' AS DateTime), N'Nam', N'Bắc Ninh', N'Đại học', N'Đại học', N'Nhân Viên', CAST(N'2008-05-03T00:00:00.000' AS DateTime), N'3', N'Thử việc')
INSERT [dbo].[TblHoSoThuViec] ([MaPhong], [MaNVTV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [TDHocVan], [HocHam], [ViTriThuViec], [NgayTV], [ThangTV], [GhiChu]) VALUES (N'KT01', N'0011', N'Nguyễn Lâm Trung', CAST(N'1982-04-01T00:00:00.000' AS DateTime), N'Nam', N'Bắc Ninh', N'Đại Học', N'Đại học', N'Nhân Viên', CAST(N'2008-05-03T00:00:00.000' AS DateTime), N'5', N'Thử việc')
INSERT [dbo].[TblHoSoThuViec] ([MaPhong], [MaNVTV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [TDHocVan], [HocHam], [ViTriThuViec], [NgayTV], [ThangTV], [GhiChu]) VALUES (N'KTH01', N'002', N'Nguyễn Thị Vân', CAST(N'1996-05-01T00:00:00.000' AS DateTime), N'Nữ', N'Bắc Ninh', N'Cao Đẳng', N'Cao Đẳng', N'Nhân Viên', CAST(N'2019-05-23T00:00:00.000' AS DateTime), N'8/2008', N'')
GO
INSERT [dbo].[TblNVThoiViec] ([HoTen], [CMTND], [NgayThoiViec], [LyDo]) VALUES (N'Nguyễn Sơn Khang', N'34246321', NULL, N'Vi phạm hợp đồng')
GO
INSERT [dbo].[TblPhongBan] ([MaBoPhan], [MaPhong], [TenPhong], [NgayThanhLap], [GhiChu]) VALUES (N'MB01', N'KT01', N'Kế toán 1', CAST(N'2019-05-28T00:00:00.000' AS DateTime), N'CT')
INSERT [dbo].[TblPhongBan] ([MaBoPhan], [MaPhong], [TenPhong], [NgayThanhLap], [GhiChu]) VALUES (N'MB01', N'KT02', N'Kế toán 2', CAST(N'2019-05-13T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[TblPhongBan] ([MaBoPhan], [MaPhong], [TenPhong], [NgayThanhLap], [GhiChu]) VALUES (N'MB02', N'KTH01', N'Kỹ thuật 1', CAST(N'2019-05-28T00:00:00.000' AS DateTime), N'CT')
GO
INSERT [dbo].[TblSoBH] ([MaNV], [MaLuong], [MaSoBH], [NgayCapSo], [NoiCapSo], [GhiChu]) VALUES (N'001', N'ML03', N'bh1', CAST(N'2019-05-27T00:00:00.000' AS DateTime), N'TP HCM', N'TT')
INSERT [dbo].[TblSoBH] ([MaNV], [MaLuong], [MaSoBH], [NgayCapSo], [NoiCapSo], [GhiChu]) VALUES (N'002', N'ML02', N'bh1234', CAST(N'2019-05-27T00:00:00.000' AS DateTime), N'Bắc Ninh', N'TT')
INSERT [dbo].[TblSoBH] ([MaNV], [MaLuong], [MaSoBH], [NgayCapSo], [NoiCapSo], [GhiChu]) VALUES (N'003', N'ML02', N'b1383902  ', CAST(N'2019-05-27T00:00:00.000' AS DateTime), N'Bắc Ninh', N'YT')
GO
INSERT [dbo].[TblTangLuong] ([MaNV], [HoTen], [GioiTinh], [ChucVu], [MaLuongCu], [MaLuongMoi], [NgayTang], [LyDo]) VALUES (N'001', N'Trần Minh Nhựt', N'Nam', N'Trưởng phòng', N'ML03', N'ML02', CAST(N'2022-05-29T00:00:00.000' AS DateTime), N'hoàn thành tốt')
INSERT [dbo].[TblTangLuong] ([MaNV], [HoTen], [GioiTinh], [ChucVu], [MaLuongCu], [MaLuongMoi], [NgayTang], [LyDo]) VALUES (N'002', N'Phạm Nhựt Thắng', N'Nam', N'Trưởng phòng', N'ML03', N'ML02', CAST(N'2022-05-29T00:00:00.000' AS DateTime), N'ht')
INSERT [dbo].[TblTangLuong] ([MaNV], [HoTen], [GioiTinh], [ChucVu], [MaLuongCu], [MaLuongMoi], [NgayTang], [LyDo]) VALUES (N'008', N'Nguyễn Văn Thịnh', N'Nam', N'Nhân Viên', N'ML01', N'ML02', CAST(N'2019-05-29T00:00:00.000' AS DateTime), N'ht')
GO
INSERT [dbo].[TblTTCaNhan] ([MaNV], [HoTen], [NoiSinh], [NguyenQuan], [DCThuongChu], [DCTamChu], [SDT], [DanToc], [TonGiao], [QuocTich], [HocVan], [GhiChu]) VALUES (N'001', N'Trần Minh Nhựt', N'TP HCM', N'Đồng Tháp', N'Cao Lãnh - Đồng Tháp', N'Linh Xuân - Thủ Đức', N'0937187003', N'Kinh', N'Không', N'Việt Nam', N'Đại Học', N'Trưởng Phòng')
INSERT [dbo].[TblTTCaNhan] ([MaNV], [HoTen], [NoiSinh], [NguyenQuan], [DCThuongChu], [DCTamChu], [SDT], [DanToc], [TonGiao], [QuocTich], [HocVan], [GhiChu]) VALUES (N'002', N'Nguyễn Văn Thịnh', N'Bắc Ninh', N'Bắc Ninh', N'Từ Sơn - Bắc Ninh', N'Từ Sơn - Bắc Ninh', N'0123456789  ', N'Kinh', N'Không', N'Việt Nam', N'Cao Đẳng', N'nv')
INSERT [dbo].[TblTTCaNhan] ([MaNV], [HoTen], [NoiSinh], [NguyenQuan], [DCThuongChu], [DCTamChu], [SDT], [DanToc], [TonGiao], [QuocTich], [HocVan], [GhiChu]) VALUES (N'003', N'Lê THị Trúc Mai', N'Hà Nội', N'Hà Nội', N'Long Biên - Hà Nội', N'Từ Sơn - Bắc Ninh', N'0369874521  ', N'Kinh', N'Không', N'Việt Nam', N'Đại Học', N'nv')
GO
INSERT [dbo].[TblTTNVCoBan] ([MaBoPhan], [MaPhong], [MaNV], [HoTen], [MaLuong], [NgaySinh], [GioiTinh], [TTHonNhan], [CMTND], [NoiCap], [ChucVu], [LoaiHD], [ThoiGian], [NgayKy], [NgayHetHan], [GhiChu]) VALUES (N'MB01', N'KT01', N'001', N'Trần Minh Nhựt', N'ML03', CAST(N'2002-11-12' AS Date), N'Nam', N'Chưa', N'12323589', N'Đồng Tháp', N'Trưởng Phòng', N'Kinh Tế', N'24 tháng', CAST(N'2018-10-18' AS Date), CAST(N'2025-10-18' AS Date), N'Admin')
INSERT [dbo].[TblTTNVCoBan] ([MaBoPhan], [MaPhong], [MaNV], [HoTen], [MaLuong], [NgaySinh], [GioiTinh], [TTHonNhan], [CMTND], [NoiCap], [ChucVu], [LoaiHD], [ThoiGian], [NgayKy], [NgayHetHan], [GhiChu]) VALUES (N'MB01', N'KT01', N'002', N'Nguyễn Văn Thịnh', N'ML03', CAST(N'1990-06-12' AS Date), N'Nam', N'chưa', N'14355678', N'Bắc Ninh', N'Trưởng phòng', N'kinh tế', N'36 tháng', CAST(N'2018-11-21' AS Date), CAST(N'2021-11-21' AS Date), N'nv')
INSERT [dbo].[TblTTNVCoBan] ([MaBoPhan], [MaPhong], [MaNV], [HoTen], [MaLuong], [NgaySinh], [GioiTinh], [TTHonNhan], [CMTND], [NoiCap], [ChucVu], [LoaiHD], [ThoiGian], [NgayKy], [NgayHetHan], [GhiChu]) VALUES (N'MB01', N'KT01', N'003', N'Lê Thị Trúc Mai', N'ML03', CAST(N'1990-10-12' AS Date), N'Nữ', N'chưa', N'14335678', N'Bắc Ninh', N'NV', N'kinh tế', N'36 tháng', CAST(N'2018-11-21' AS Date), CAST(N'2021-11-21' AS Date), N'')
GO
INSERT [dbo].[TblThaiSan] ([MaBoPhan], [MaPhong], [MaNV], [HoTen], [NgaySinh], [NgayVeSom], [NgayNghiSinh], [NgayLamTroLai], [TroCapCTY], [GhiChu]) VALUES (N'MB01      ', N'KT02     ', N'010', N'Nguyễn Mỹ Hằng', CAST(N'1991-09-14T00:00:00.000' AS DateTime), CAST(N'2022-06-14T00:00:00.000' AS DateTime), CAST(N'2022-07-14T00:00:00.000' AS DateTime), CAST(N'2023-02-01T00:00:00.000' AS DateTime), 1000000, N'')
INSERT [dbo].[TblThaiSan] ([MaBoPhan], [MaPhong], [MaNV], [HoTen], [NgaySinh], [NgayVeSom], [NgayNghiSinh], [NgayLamTroLai], [TroCapCTY], [GhiChu]) VALUES (N'MB01      ', N'KT01      ', N'003', N'Lê Thị Trúc Mai', CAST(N'1990-10-12T00:00:00.000' AS DateTime), CAST(N'2021-06-14T00:00:00.000' AS DateTime), CAST(N'2021-07-20T00:00:00.000' AS DateTime), CAST(N'2022-02-01T00:00:00.000' AS DateTime), 1000000, N'')
GO
INSERT [dbo].[tbuser] ([Username], [Pass], [Quyen], [Ten], [Ngaysinh]) VALUES (N'minhnhut', N'nhut123', N'Admin', N'nhut', CAST(N'2002-11-12' AS Date))
INSERT [dbo].[tbuser] ([Username], [Pass], [Quyen], [Ten], [Ngaysinh]) VALUES (N'nhutthang', N'thang123', N'Admin', N'thang', CAST(N'2002-06-15' AS Date))
INSERT [dbo].[tbuser] ([Username], [Pass], [Quyen], [Ten], [Ngaysinh]) VALUES (N'thienphu', N'phu123', N'Admin', N'phu', CAST(N'2001-06-15' AS Date))
select * from tbuser where Quyen = N'Admin' or Quyen =N'User'
select * from tbuser where Quyen = N'User'
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KTVSKL]    Script Date: 09/12/2022 12:40:14 SA ******/
CREATE NONCLUSTERED INDEX [IX_KTVSKL] ON [dbo].[KTVSKL]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblCongKhoiDieuHanh]  WITH CHECK ADD  CONSTRAINT [FK_TblCongKhoiDieuHanh_TblBangLuongCTy] FOREIGN KEY([MaLuong])
REFERENCES [dbo].[TblBangLuongCTy] ([MaLuong])
GO
ALTER TABLE [dbo].[TblCongKhoiDieuHanh] CHECK CONSTRAINT [FK_TblCongKhoiDieuHanh_TblBangLuongCTy]
GO
ALTER TABLE [dbo].[TblCongKhoiDieuHanh]  WITH CHECK ADD  CONSTRAINT [FK_TblCongKhoiDieuHanh_TblTTNVCoBan] FOREIGN KEY([MaNV])
REFERENCES [dbo].[TblTTNVCoBan] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblCongKhoiDieuHanh] CHECK CONSTRAINT [FK_TblCongKhoiDieuHanh_TblTTNVCoBan]
GO
ALTER TABLE [dbo].[TblCongKhoiVanChuyen]  WITH NOCHECK ADD  CONSTRAINT [FK_TblCongKhoiVanChuyen_TblTTNVCoBan] FOREIGN KEY([MaNV])
REFERENCES [dbo].[TblTTNVCoBan] ([MaNV])
GO
ALTER TABLE [dbo].[TblCongKhoiVanChuyen] CHECK CONSTRAINT [FK_TblCongKhoiVanChuyen_TblTTNVCoBan]
GO
ALTER TABLE [dbo].[TblCongKhoiVanPHong]  WITH NOCHECK ADD  CONSTRAINT [FK_TblCongKhoiVanPHong_TblTTNVCoBan] FOREIGN KEY([MaNV])
REFERENCES [dbo].[TblTTNVCoBan] ([MaNV])
GO
ALTER TABLE [dbo].[TblCongKhoiVanPHong] CHECK CONSTRAINT [FK_TblCongKhoiVanPHong_TblTTNVCoBan]
GO
ALTER TABLE [dbo].[TblPhongBan]  WITH CHECK ADD  CONSTRAINT [FK_TblPhongBan_TblBoPhan] FOREIGN KEY([MaBoPhan])
REFERENCES [dbo].[TblBoPhan] ([MaBoPhan])
GO
ALTER TABLE [dbo].[TblPhongBan] CHECK CONSTRAINT [FK_TblPhongBan_TblBoPhan]
GO
ALTER TABLE [dbo].[TblSoBH]  WITH CHECK ADD  CONSTRAINT [FK_TblSoBH_TblBangLuongCTy] FOREIGN KEY([MaLuong])
REFERENCES [dbo].[TblBangLuongCTy] ([MaLuong])
GO
ALTER TABLE [dbo].[TblSoBH] CHECK CONSTRAINT [FK_TblSoBH_TblBangLuongCTy]
GO
ALTER TABLE [dbo].[TblTangLuong]  WITH NOCHECK ADD  CONSTRAINT [FK_TblTangLuong_TblTTNVCoBan] FOREIGN KEY([MaNV])
REFERENCES [dbo].[TblTTNVCoBan] ([MaNV])
GO
ALTER TABLE [dbo].[TblTangLuong] CHECK CONSTRAINT [FK_TblTangLuong_TblTTNVCoBan]
GO
ALTER TABLE [dbo].[TblTangLuong]  WITH CHECK ADD  CONSTRAINT [tk_tl] FOREIGN KEY([MaNV])
REFERENCES [dbo].[TblTTNVCoBan] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblTangLuong] CHECK CONSTRAINT [tk_tl]
GO
ALTER TABLE [dbo].[TblTTCaNhan]  WITH CHECK ADD  CONSTRAINT [tk_cn] FOREIGN KEY([MaNV])
REFERENCES [dbo].[TblTTNVCoBan] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblTTCaNhan] CHECK CONSTRAINT [tk_cn]
GO
ALTER TABLE [dbo].[TblTTNVCoBan]  WITH CHECK ADD  CONSTRAINT [FK_TblTTNVCoBan_TblPhongBan] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[TblPhongBan] ([MaPhong])
GO
ALTER TABLE [dbo].[TblTTNVCoBan] CHECK CONSTRAINT [FK_TblTTNVCoBan_TblPhongBan]
GO
ALTER TABLE [dbo].[TblThaiSan]  WITH NOCHECK ADD  CONSTRAINT [FK_TblThaiSan_TblTTNVCoBan] FOREIGN KEY([MaNV])
REFERENCES [dbo].[TblTTNVCoBan] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblThaiSan] CHECK CONSTRAINT [FK_TblThaiSan_TblTTNVCoBan]
GO
USE [master]
GO

